[submodule "submodules/langsplat-rasterization"]
	path = submodules/langsplat-rasterization
	url = https://github.com/yuzewang1998/langsplat-rasterization.git
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
